table.gridtable {

    font-family: Microsoft YaHei,arial,sans-serif;

    font-size:13px;

    color:#272727;

    border-width: 2px;

    border-color: #272727;

    border-collapse: collapse;
    
}

table.gridtable th {

    border-width: 3px;

    padding: 8px;

    border-style: solid;

    border-color: #ADADAD;

    background-color: #00ffff;
    
}

table.gridtable td {

    border-width: 3px;

    padding: 8px;

    border-style: solid;

    border-color: #ADADAD;

    background-color: #ffffff;
    

}