$def with (product_line)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />

<title>Johanna的测试平台</title>

<link rel="stylesheet" href="./static/dist/ladda-themeless.min.css">
<link rel="stylesheet" href="./static/css/fakeLoader.css">
<link rel="stylesheet" type="text/css" href="./static/css/theme.css" />
<link rel="stylesheet" type="text/css" href="./static/css/style1.css" />
<link rel="stylesheet" type="text/css" href="./static/css/tables.css" />
<link rel="stylesheet" type="text/css" href="./static/css/file.css" />
<link rel="stylesheet" type="text/css" href="./static/css/case.css" />
<link rel="stylesheet" type="text/css" href="./static/css/jqueryui/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="./static/css/jquery-ui-timepicker-addon.css" />
<link rel="shortcut icon" href="./static/pic/favicon.ico">
<link rel="stylesheet" href="./static/css/prettyCheckboxes.css" type="text/css" media="screen" />
<link rel="stylesheet" href="http://libs.useso.com/js/bootstrap/3.0.0/css/bootstrap.min.css">

<script type="text/javascript" src="./static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="./static/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="./static/js/messages_zh.js"></script>
<script language=javascript type="text/javascript" src="./static/js/casehelper.js"></script>
<script language=javascript type="text/javascript" src="./static/js/dialog_box/dialog_box.js"></script>


</head>



<body>
<div id="container"> 
        <div id="header">
            <h2>Johanna的测试平台</h2>
    <div id="topmenu">
               <ul>
                    <li ><a href="slot">slot接口</a></li>
                    <li ><a href="stress">性能测试</a></li>
                    <li ><a href="uitest">UI自动化</a><li>
                    <li ><a href="interfacetest">接口测试</a></li>
                    <li ><a href="noseapitest">noseAPI测试</a></li>\
                    <li class="current"><a href="zjpostman">zjpostman</a></li>
               </ul>
        </div>
    </div>

</br>
</br>

<div id="box" style="padding-top: 50px;padding-left: 10px;padding-right: 10px;">
<form id="form" onsubmit="return check()" enctype="multipart/form-data" name="myform" >
<fieldset id="personal">
<legend>数据输入</legend>
</br>
项目:
<select id='productline_id' name="productline_id" class="{required:true}">
      <option selected="selected">请选择项目</option>
$for i in product_line:
  <option value="$i.id">$i.productline_name</option>
</select>
<font color="red">*</font>
<span id="show_product" style="color: red;font-weight:bold;" ></span>
<br>
<br>
Playerid:
<input  type="text" id="playerid" style="text-align:left" color="#ffffff" bgcolor="#FFFFFF" font-family="Microsoft YaHei, Microsoft YaHei, Microsoft YaHei" font-size="16em" name="playerid" onkeyup="value=value.replace(/[^\d]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" required> <font color="red">*</font>
Subjectid:
<input  type="text" id="subjectid" style="text-align:left" color="#ffffff" bgcolor="#FFFFFF" font-family="Microsoft YaHei, Microsoft YaHei, Microsoft YaHei" font-size="16em" name="subjectid" onkeyup="value=value.replace(/[^\d]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" required> <font color="red">*</font>
</br>
data:
<textarea id="postdata" name="postdata" style="width:500px;height:200px;"  onfocus="if(value=='默认格式  [3,1000,3],[3,1000,3],[3,1000,3]，请知晓'){value=''}"  
    onblur="if (value ==''){value='默认格式  [3,1000,3],[3,1000,3],[3,1000,3]，请知晓'}">默认格式  [3,1000,3],[3,1000,3],[3,1000,3]，请知晓</textarea>
</br> 
<br>
 <button onclick="exec_zjpostman()" name="zjpostmantest"  id="zjpostmantest" class="btn btn-danger ladda-button" data-style="expand-left"><span class="ladda-label">开 始</span></button>
</br>
</br>
</fieldset>
<fieldset id="interfacecasechoose">
<legend>查看结果</legend>
<span id="show_result" style="font-weight:bold;text-decoration:underline;" ></span>

</br>
</br>
</fieldset>


 </p>

</form>
</div>

</br>
</br>




  <script type="text/javascript">

            function check(){
              return false
 }
</script>

</body>

</html>
